<div class="wrapper">
	<div class="page-header">
		<div class="container align-items-center">
			<div class="row">
				<!-- 				<div class="col-lg-6 col-md-6"> -->
				<!-- 					<h1 class="profile-title text-left">{{emailUserLogged}}</h1> -->
				<!-- 				</div> -->
				<!-- Suggest new phrase -->
				<div class="col-lg-12 col-md-6 ml-auto mr-auto">
					<div class="card card-coin card-plain">
						<div class="card-header">
							<img class="img-center img-fluid rounded-circle"
								src="assets/img/mike.jpg" />

							<h4 class="title">{{ "suggestQuote" | translate }}</h4>
						</div>
						<div class="card-body">
							<tabset
								class="nav-tabs-danger justify-content-center tab-subcategories">
							<form [formGroup]="addPhraseForm" (ngSubmit)="sendPhrase()">
								<div class="row">
									<label class="col-sm-3 col-form-label"> {{ "quote" | translate }} </label>
									<div class="col-sm-9">
										<div class="form-group">
											<input class="form-control"
												placeholder="{{ 'writeYourQuote' | translate }}" type="text"
												formControlName="quote" name="quote" [(ngModel)]="quote"/>
												<div *ngIf="addPhraseForm.get('quote')?.hasError('required') && addPhraseForm.get('quote')?.touched" class="text-danger">
											    	<span>{{ "quoteRequired" | translate }}</span>
											    </div>
										</div>
									</div>
								</div>
								<div class="row">
									<label class="col-sm-3 col-form-label"> {{ "author" | translate }} </label>
									<div class="col-sm-9">
										<div class="form-group">
											<input class="form-control" placeholder="{{ 'author' | translate }}" type="text"
												formControlName="author" name="author" [(ngModel)]="author"/>
										    <div *ngIf="addPhraseForm.get('author')?.hasError('required') && addPhraseForm.get('author')?.touched" class="text-danger">
												{{ "authorRequired" | translate }}
										    </div>
										</div>
									</div>
								</div>
								<button class="btn btn-simple btn-danger btn-round float-right"
									type="submit" [disabled]="addPhraseForm.invalid">
									<i class="tim-icons icon-send"> {{ "send" | translate }}</i>
								</button>
							</form>
							</tabset>
						</div>
					</div>
				</div>
				<!-- Your phrases -->
				<div class="col-lg-12 col-md-6 ml-auto mr-auto" *ngIf="!adminIsLogged">
					<div class="card card-coin card-plain">
						<div class="card-body">
							<tabset
								class="nav-tabs-danger justify-content-center tab-subcategories">
							<div class="table-responsive">
								<table class="table tablesorter" id="plain-table">
									<thead class="text-danger">
										<tr>
											<th class="header">{{ "yourQuotes" | translate }}</th>
										</tr>
									</thead>
									<tbody>
										<tr *ngFor="let phrase of phrases">
											<td>{{phrase.quote}}</td>
											<td>{{phrase.author}}</td>
											<td>{{phrase.datePublication}}</td>
											<td><span class="{{getClassApproved(phrase.approved)}}">{{getLabelApproved(phrase.approved)}}</span></td>
										</tr>
									</tbody>
								</table>
							</div>
							</tabset>
						</div>
					</div>
				</div>
				<!-- Your phrases -->
				<div class="col-lg-12 col-md-6 ml-auto mr-auto" *ngIf="adminIsLogged">
					<div class="card card-coin card-plain">
						<div class="card-body">
							<tabset
								class="nav-tabs-danger justify-content-center tab-subcategories">
							<div class="table-responsive">
								<table class="table tablesorter" id="plain-table">
									<thead class="text-danger">
										<tr>
											<th class="header">{{ "quotesToApprove" | translate }}</th>
										</tr>
									</thead>
									<tbody>
										<tr *ngFor="let phrase of phrases">
											<td>{{phrase.quote}}</td>
											<td>{{phrase.author}}</td>
											<td>{{phrase.contributor}}</td>
											<td><button class="btn btn-success btn-simple btn-round" (click)="approvePhrase(phrase)">{{ "approve" | translate }}</button></td>
										</tr>
									</tbody>
								</table>
							</div>
							</tabset>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>