<div class="wrapper">
	<div class="page-header header-filter">
		<div class="squares square1"></div>
		<div class="squares square2"></div>
		<div class="squares square3"></div>
		<div class="squares square4"></div>
		<div class="squares square5"></div>
		<div class="squares square6"></div>
		<div class="squares square7"></div>
		<div class="container">
			<div class="content-center brand">
				<h3>{{datePublication}}</h3>
				<h3>{{quote}}</h3>
			</div>
			<div class="content-right brand">				
				<h3>{{author}}</h3>
			</div>
			<div class="navigation-arrows">
				<a class="arrow" (click)="previousIndex()"><i class="fa fa-arrow-left"></i></a>
		        <a class="arrow" (click)="nextIndex()"><i class="fa fa-arrow-right"></i></a>
	      	</div>
		</div>
	</div>
</div>
